.footer {
    display:flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    overflow: none;
}

.footer ul{
    list-style-type: none;
    align-items: center;
}

.footer li{
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2rem;
    float: none;
    color: white;
    text-decoration: none;
    text-align: center;
    margin: 1.1%;
}

.links a{
    font-size: 1rem;
    float: none;
    color: aliceblue;
    text-decoration: none;
    justify-content: center;
    margin: 0.8vh;
}

.links a:hover{
    background-color: black;
    color:orange;
}

.footer .copyright {
    font-size: 0.6rem;
    font-weight: 400;
}